<html>
  <head>
    <title>チャット</title>
    <link rel="stylesheet"
          href="//netdna.bootstrapcdn.com/bootstrap/3.1.1/css/bootstrap.min.css">
    <style>
      ul#messages { list-style: none; }
      ul#messages li { margin-bottom: 2px; }
      ul#messages li img { margin-right: 10px; }
    </style>
  </head>
  <body>
    <div class="container">
      <div class="panel panel-default">
        <div class="panel-body">
          <ul id="messages"></ul>
        </div>
      </div>
      <form id="chatbox" role="form">
        <div class="form-group">
          <label for="message">{{.UserData.name}}からメッセージを送信</label>
          または<a href="/logout">サインアウト</a>
          <textarea id="message" class="form-control"></textarea>
        </div>
        <input type="submit" value="送信" class="btn btn-default" />
      </form>
    </div>
  </body>
  <script src="//ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js">
  </script>
  <script>
    if (!window['WebSocket']) {
      alert('WebSocketに対応していないブラウザです。');
    }

    $(function() {
      var socket = null;
      var messageBox = $('#chatbox textarea');
      var messages = $('#messages');

      $('#chatbox').submit(function(e) {
        e.preventDefault();

        var messageValue = messageBox.val();
        if (messageValue == null) {
          return false;
        }

        if (socket == null) {
          alert('WebSocket接続が行われていません。')
        }

        socket.send(JSON.stringify({Message: messageValue}))
        messageBox.val('');
      });

      socket = new WebSocket("ws://{{.Host}}/room");
      socket.onclose = function() {
        console.log("接続が終了しました。");
      }
      socket.onmessage = function(e) {
        console.log(e.data)
        var message = JSON.parse(e.data);
        messages.append(
          $('<li>').append(
            $('<img>').attr("title", message.Name).css({
              width: 50,
              verticalAlign: 'middle'
            }).attr('src', message.AvatarURL),
            $('<strong>').text(message.Name + ': '),
            $('<span>').text(message.Message)
          )
        );
      }

    })
  </script>

</html>
